<div class="footer-main">
    <div class="footer-section-1">
        <h3>About us</h3>
        <p>We are a team of nurses,doctors,technologists and executives dedicated to help 
            nurses find jobs that they love</p>
        <p>All copyrights reserved &copy;2022-Health Explore</p>
    </div>

    <div class="footer-section-2">
        <h3>Sitemap</h3>
        <ul>
            <li>Nurses</li>
            <li>Employers</li>
            <li>Social networking</li>
            <li>Jobs</li>
        </ul>
    </div>

    <div class="footer-section-3">
        <h3>Privacy</h3>
        <ul>
            <li>Terms of use</li>
            <li>Privacy policy</li>
            <li>Cookie policy</li>
        </ul>
    </div>
</div>

